<footer class="footer">
  <div>
    <p>由以下产品的团队打造：</p>
    <ul>
      <li><a href="https://basecamp.com" target="_blank" rel="noopener"><img src="{{ '/assets/images/logo-basecamp.svg' }}" alt="Basecamp"></a></li>
      <li><a href="https://hey.com" target="_blank" rel="noopener"><img src="{{ '/assets/images/logo-hey.svg' }}" alt="HEY"></a></li>
      <li><a href="https://fizzy.do" target="_blank" rel="noopener"><img src="{{ '/assets/images/logo-fizzy.svg' }}" alt="Fizzy"></a></li>
      <li><a href="https://once.com" target="_blank" rel="noopener"><img src="{{ '/assets/images/logo-once.svg' }}" alt="ONCE"></a></li>
    </ul>
    <p>&copy; {{ 'now' | date: '%Y' }} <a href="https://37signals.com" target="_blank" rel="noopener">37signals</a></p>
  </div>
</footer>
